#bodyContainer .pagarTodo {
  display: grid;
  grid-template-columns: 50px 1fr 120px;
}
#bodyContainer .pagarTodo .left,
#bodyContainer .pagarTodo .center,
#bodyContainer .pagarTodo .right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
#bodyContainer .pagarTodo .center .total {
  color: #009432;
  font-family: "Roboto", sans-serif;
}
#bodyContainer .pagarTodo .right .btn {
  font-size: 0.8rem;
  background-color: #009432;
  border-color: #009432;
}
#bodyContainer .pagarTodo .right .btn:hover {
  color: #009432;
  background-color: #fff;
}
#bodyContainer .contratos .subSlider {
  width: 100%;
  grid-template-columns: 1fr;
}
#bodyContainer .contratos .subSlider .contrato h2 {
  color: #1B1464;
  font-weight: 400;
  text-align: center;
  padding: 5px;
}
#bodyContainer .contratos .subSlider .contrato table {
  width: 90%;
  margin: 10px auto;
}
#bodyContainer .contratos .subSlider .contrato table tr td {
  font-family: "Roboto", sans-serif;
  color: #848484;
  font-weight: 300;
}
#bodyContainer .contratos .subSlider .contrato table tr .info {
  color: #009432;
  text-align: right;
}
#bodyContainer .contratos .subSlider .contrato .btn {
  background-color: #009432;
  border-color: #009432;
  width: 60%;
  margin: 10px auto;
}
#bodyContainer .contratos .subSlider .contrato .btn:hover {
  color: #009432;
  background-color: #fff;
}
#bodyContainer .transacciones table {
  width: 100%;
  border-collapse: collapse;
}
#bodyContainer .transacciones table tr:nth-of-type(2) td {
  padding-top: 5px;
}
#bodyContainer .transacciones table tr th {
  color: #1B1464;
  font-weight: 400;
  padding-bottom: 5px;
  border-bottom: 1px solid #d1d1d1;
  font-size: 1.1rem;
}
#bodyContainer .transacciones table tr td {
  padding: 1px;
}
#bodyContainer .transacciones table tr td,
#bodyContainer .transacciones table tr a {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #9c9c9c;
}
#bodyContainer .transacciones table tr a {
  text-decoration: none;
  transition: all ease 0.2s;
}
#bodyContainer .transacciones table tr a:hover {
  color: #0ABDE3;
  text-decoration: underline;
}
#bodyContainer .transacciones table tr:nth-of-type(1) {
  padding-bottom: 5px;
}

@media only screen and (min-width: 375px) {
  #bodyContainer .contratos {
    margin-left: 2.5%;
  }
  #bodyContainer .contratos .subSlider .contrato {
    width: 95%;
  }
}